#logo-alumni {
  max-width: 60%;
  margin-bottom: 3%;
}

h1.c-white.fgt-bold.hidden + p {
  font-size: 1.3em;
  max-width: 600px;
  width:90%;
}

.alumni-partners .toggle-square {
  width: 35%;
}

@media screen and (max-width: 992px) {
  .alumni-partners .toggle-square {
    width: 100%;
  }

  .flex-boxes .image {
    order: 2;
  }
}