.for-media-row .logos img {
  height:105px;
}

.for-media-row .logos .col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
}

.for-media-row p,
.for-media-row ul li,
.for-media-row ol li {
  text-align: justify;
}

.for-media-row h4 {
  text-transform: uppercase;
}

.for-media-row .contained-row {
  padding-top: 30px;
}